.cart-actions-container {
    width: 400px;
    display: inline;
    button {
        background-color: green;
        border-radius: 5px;
        color:white;
        margin-right: 10px;
    }
}

.cart-counter {
    display: inline-block;
}
.material-icons {
    position: relative;
    top: 7px;
    cursor: pointer;
}
.count {
    margin: 0 10px
}