<div class="product-container">
    <div class="image-section">
        <img src={{product.image}} width="300" height="200">
        <h3 *ngIf="product.offerText">{{product.offerText}} OFF</h3>
    </div>

    <div class="details-section">
        <h2>{{product.brandName}}</h2>
        <h3>{{product.productName}}</h3>
        <p>{{product.quantity}} L</p>
        <p>MRP {{product.MRP}}</p>
        <p>RS {{prices[product.id].price}}</p>
        <app-cart-actions (cartEvent)="cartActionChange($event)" [productId]="product.id" (addToCart)="cartActionChange($event)"></app-cart-actions>
    </div>
</div>
