.cart-footer {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.cart-footer-children {
    box-sizing: border-box;
    border: 2px solid red;
    background-color: azure;
    display: inline-flex;
    position: fixed;
    height: 100px;
    bottom: 0;
}
.cart-lookout {
    width: 300px;
    position: relative;
    left: 15px;
}
.cart-checkout{
    button {
        width: 300px;
        height: 40px;
        position: relative;
        top: 15px;
        right: 10px;
        font-weight: bold;
        font-size: x-large;
        cursor: pointer;
    }
}