* {
    box-sizing: border-box;
}
.cart-main {
    width: 100%;
    min-height: calc(100vh - 100px);
    position: fixed;
    overflow: auto;
    h1 {
        text-align: center;
    }
    .cart-children {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        position: relative;
        height: 500px;
    }
}
@media only screen and (max-device-width: 480px) {
    .cart-children {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .cart-main {
        width: 100%;
        min-height: calc(100vh - 300px);
        position: fixed;
        overflow: auto;
    }

}
