.cart-products {
    height: 300px;
    width: 500px;
    margin: 0 auto;
}
.line-seperator {
    position: relative;
    top: 10px;
    width: 550px;
    border-bottom: 2px solid black;
}
.cart-footer {
    width: 600px;
}

@media only screen and (max-device-width: 480px) {
    .cart-products {
        width: 200px;
        height: auto;
        display: block;
    }
    .line-seperator {
        position: relative;
        top: 10px;
        width: 100%;
        border-bottom: 2px solid black;
    }
    .cart-footer {
        width: 100%;
    }
    

}